/*
Anything reusable such as buttons, navbars, cards etc.
*/

@mixin lines {  
    hr {
        background-image: linear-gradient(-90deg, white, transparent);
        border: 0;
        height: 1px;
        &:nth-child(1) {
            background-image: linear-gradient(90deg, white, transparent);
        }
    }
    @content
}

button {
    padding: 15px 10px;
    text-align: center;
    background: $brand-color;
    color: white;
    font-size: 1.1rem;
}