@font-face {
    font-family: 'Kaufmann Std';
    src: url('../../fonts/KaufmannStd-Bold.eot');
    src: url('../../fonts/KaufmannStd-Bold.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/KaufmannStd-Bold.woff2') format('woff2'),
        url('../../fonts/KaufmannStd-Bold.woff') format('woff'),
        url('../../fonts/KaufmannStd-Bold.ttf') format('truetype'),
        url('../../fonts/KaufmannStd-Bold.svg#KaufmannStd-Bold') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Gill Sans MT Pro Medium';
    src: url('../../fonts/GillSansMTPro-Medium.eot');
    src: url('../../fonts/GillSansMTPro-Medium.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/GillSansMTPro-Medium.woff2') format('woff2'),
        url('../../fonts/GillSansMTPro-Medium.woff') format('woff'),
        url('../../fonts/GillSansMTPro-Medium.ttf') format('truetype'),
        url('../../fonts/GillSansMTPro-Medium.svg#GillSansMTPro-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Minion Pro';
    src: url('../../fonts/MinionPro-Regular.eot');
    src: url('../../fonts/MinionPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/MinionPro-Regular.woff2') format('woff2'),
        url('../../fonts/MinionPro-Regular.woff') format('woff'),
        url('../../fonts/MinionPro-Regular.ttf') format('truetype'),
        url('../../fonts/MinionPro-Regular.svg#MinionPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gill Sans Std Bold';
    src: url('../../fonts/GillSansStd-Bold.eot');
    src: url('../../fonts/GillSansStd-Bold.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/GillSansStd-Bold.woff2') format('woff2'),
        url('../../fonts/GillSansStd-Bold.woff') format('woff'),
        url('../../fonts/GillSansStd-Bold.ttf') format('truetype'),
        url('../../fonts/GillSansStd-Bold.svg#GillSansStd-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gill Sans Std Light';
    src: url('../../fonts/GillSansStd-Light.eot');
    src: url('../../fonts/GillSansStd-Light.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/GillSansStd-Light.woff2') format('woff2'),
        url('../../fonts/GillSansStd-Light.woff') format('woff'),
        url('../../fonts/GillSansStd-Light.ttf') format('truetype'),
        url('../../fonts/GillSansStd-Light.svg#GillSansStd-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gill Sans MT Pro';
    src: url('../../fonts/GillSansMTPro-Light.eot');
    src: url('../../fonts/GillSansMTPro-Light.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/GillSansMTPro-Light.woff2') format('woff2'),
        url('../../fonts/GillSansMTPro-Light.woff') format('woff'),
        url('../../fonts/GillSansMTPro-Light.ttf') format('truetype'),
        url('../../fonts/GillSansMTPro-Light.svg#GillSansMTPro-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gill Sans Std Italic';
    src: url('../../fonts/GillSansStd-Italic.eot');
    src: url('../../fonts/GillSansStd-Italic.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/GillSansStd-Italic.woff2') format('woff2'),
        url('../../fonts/GillSansStd-Italic.woff') format('woff'),
        url('../../fonts/GillSansStd-Italic.ttf') format('truetype'),
        url('../../fonts/GillSansStd-Italic.svg#GillSansStd-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Gill Sans Std Light Italic';
    src: url('../../fonts/GillSansStd-LightItalic.eot');
    src: url('../../fonts/GillSansStd-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/GillSansStd-LightItalic.woff2') format('woff2'),
        url('../../fonts/GillSansStd-LightItalic.woff') format('woff'),
        url('../../fonts/GillSansStd-LightItalic.ttf') format('truetype'),
        url('../../fonts/GillSansStd-LightItalic.svg#GillSansStd-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Gill Sans Std';
    src: url('../../fonts/GillSansStd.eot');
    src: url('../../fonts/GillSansStd.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/GillSansStd.woff2') format('woff2'),
        url('../../fonts/GillSansStd.woff') format('woff'),
        url('../../fonts/GillSansStd.ttf') format('truetype'),
        url('../../fonts/GillSansStd.svg#GillSansStd') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT Pro';
    src: url('../../fonts/HelveticaNeueLTPro-ThEx.eot');
    src: url('../../fonts/HelveticaNeueLTPro-ThEx.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/HelveticaNeueLTPro-ThEx.woff2') format('woff2'),
        url('../../fonts/HelveticaNeueLTPro-ThEx.woff') format('woff'),
        url('../../fonts/HelveticaNeueLTPro-ThEx.ttf') format('truetype'),
        url('../../fonts/HelveticaNeueLTPro-ThEx.svg#HelveticaNeueLTPro-ThEx') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT Pro Bold';
    src: url('../../fonts/HelveticaNeueLTPro-Bd.eot');
    src: url('../../fonts/HelveticaNeueLTPro-Bd.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/HelveticaNeueLTPro-Bd.woff2') format('woff2'),
        url('../../fonts/HelveticaNeueLTPro-Bd.woff') format('woff'),
        url('../../fonts/HelveticaNeueLTPro-Bd.ttf') format('truetype'),
        url('../../fonts/HelveticaNeueLTPro-Bd.svg#HelveticaNeueLTPro-Bd') format('svg');
    font-weight: bold;
    font-style: normal;
}

