/*
Contains all the CSS that handles 
the layout, such as the container and any grid systems.
*/

//NAV
header{
    background: $brand-color;
    display: flex;
    justify-content: flex-end;
}

//HERO

.hero {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: calc(100vh - 56px);
    background: 
    url("../../images/logo.png") no-repeat 50% 40%,
        linear-gradient(0deg, $brand-color, $brand-color);  
    color: #fff;
    text-align: center;
    .heroBlock {
        margin: 15% 0;
    }
    .heroText {
        margin: 5% 0%;
    }
    span {
        margin-top: 5%;
        display: inline-block;
    }
    h3 {
        font-style:italic;
        font-size: 1.5em;
        span {
            font-weight: 700;
            font-style:normal;
        }
    }
    hr:nth-child(1) {
        background-image: linear-gradient(90deg, white, transparent);
        border: 0;
        height: 1px;
    }
    hr {
        background-image: linear-gradient(-90deg, white, transparent);
        border: 0;
        height: 1px;
    }

}