/*
Contains all the CSS that handles 
the layout, such as the container and any grid systems.
*/


//NAV
header{
    // background: rgba(0, 0, 0, 0.05);
    position: fixed;
    top:0;
    width: 100%;
    z-index: 1;
}

nav {
    display: flex;
    justify-content: flex-end;
    .hamburger {
        margin: 1em;
    }
    .hamburger-inner, .hamburger-inner:after, .hamburger-inner:before{
        background: lightgrey !important;
    }
}

.menu{
    z-index:0; 
    font-weight:bold; font-size:0.8em; 
    width:100%; 
    background:#f1f1f1;  
    position:absolute; 
    text-align:center; 
    font-size:1.25em;
    // top: 56px;
    // margin-top: 1em;
    @include desktop {
        font-size: 1.5em;
    }
    ul {
        margin: 0; 
        padding: 0; 
        list-style-type: none; 
        list-style-image: none;
    }   
    li {
        display: block;   
        padding: 7.5px 0; 
        border-bottom:#dddddd 1px solid;
        @include desktop {
            padding: 15px 0;
        }
    }
    li:hover{
        display: block;    
        background:#ffffff; 
        border-bottom:#dddddd 1px solid;
    }
    ul li a { 
        text-decoration:none;  
        margin: 0px; 
        color:#666;
    }
    ul li a:hover {
        color: #666; 
        text-decoration:none;
    }
    a{
        text-decoration:none; 
        color:#666;
    }
        a:hover{
        text-decoration:none; 
        color:#666;
    }
}

//HERO

.hero {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    min-height: 100vh;
    background: 
    url("../../images/logo.png") no-repeat 50% 40%,
        linear-gradient(0deg, $brand-color, $brand-color);
    background-size: 50%;
    color: #fff;
    text-align: center;
    @include desktop {
        background-size: 15%;

    }
    .heroBlock {
        margin: 30em 0 5em 0;
        width: 100%;
    }
    .heroText {
        margin: 2em 1em;
        @include desktop {
            margin: 2em 0;
        }
    }
    span {
        display: inline-block;
    }
    h3 {
        font-family: "Gill Sans Std Light Italic", "Lato";
        font-style: italic;
        font-size: 1.25em;
        line-height:2em;
        &>span {
            font-family: "Gill Sans Std Bold", "Lato";
            font-style: initial;
            font-weight: initial;
            color:white;
        }
        @include desktop {
            font-size: 2em;
        }
    }
    span {
        color: grey;
        letter-spacing:1px;
    }
    @include lines

}

//ABOUT

.about {
    // min-height: 100vh;
    // display: grid;
    // grid-template-rows: repeat(2, 1fr);
    .top {
        background: $brand-color;
        display: grid;
        grid-template-rows: 1fr 4fr;
        grid-template-columns: repeat(6,1fr);
        padding: 5em 0 0 0;
        @include desktop {
            padding: 10em 0 0 0;
        }
        .cutout {
            max-width: 60%;
            grid-column: 2 / 7;
            grid-row: 1 / 3;
            align-self: end;
            justify-self: end;
            overflow:hidden;
            @include desktop {
                max-width: 50%;
            }
        }
        h3 {
            font-size:1em;
            margin: 1em 0;
            text-align:center;
            line-height: 1.75em;
            @include desktop {
                font-size:1.5em;
                // line-height:1.5em;
                text-align: start;
            }
        }
        .slogan {
            display: flex;
            flex-direction: column;
            justify-content: center;
            grid-column: 1 / 5;
            grid-row: 1 / 3;
            color: white;
            margin: 0 2em;
            @include desktop {
                grid-column: 2 / 5;
                font-size: 1.5em;
            }
            p {
                margin: 15% 0%;
            }
            @include lines;
        }
        .aboutLogo {
            margin: 1em 0 0 0;
            align-self:center;
            @include desktop {
                margin: 1em 0 0 5em;
                align-self:start;
            }
        }
    }
    .bottom {
        display: grid;
        .textwidget {
            margin: 2em 0 0 0;
        }
        .about-me-text {
            margin: 2em 0 0 0;
        }
        p {
            grid-row: 1 / 3;
            align-self: center;
            padding: 0 2em;
            text-align: center;
            @include desktop {
                padding: 4em 8em 0 8em;
                max-width: 50%;
                margin: 0 auto;
            }
        }
        .btn {
            grid-row: 3 / 5;
            align-self: center;
            text-align: center;
        }
        button {
            margin: 2em;
        }
        .read-more p{
            @include desktop {
            padding: 0em 8em 4em 8em;
            }
        }
    }
    .dots {
        font-size: 3em;
        text-align: center;
        font-family: 'Gill Sans Std';
    }
}

.projects{
    margin: 6em 0;
    @include desktop {
        margin: 12em 0;
    }
    button {
        max-width: 150px;
        display:block;
        text-align: center;
        margin: 4em auto;
    }
    .carousel {
        margin: 4em 0em;
        &::after {
            content: 'flickity';
            display: none; /* hide :after */ 
        }
        //fix later
        .carousel-cell{
            a {
                height:100%;
                width:100%
            }
            img {
                height:100%;
                width:100%;
                object-fit: cover ;
            }
        }
 
        @include desktop {
            display:grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-gap:0.5em;
            background: white;
            padding: 1em;
            margin: 0 2em;
            .carousel-cell {
                background: transparent;
                height: 100%;
                img {
                    width:100%;
                    height:100%;
                    object-fit: cover;
                }
                a {
                    height:100%;
                    width:100%;
                }
            }
            &::after {
                content: '';
            }
            .carousel-cell:nth-child(3n+1) {
                grid-row: 1 / 3;
                height: calc(500px + 0.5em) ;
            }
            .carousel-cell:nth-child(3n+2) {
                grid-row: 1 / 2;
                height: 250px;
            }
            .carousel-cell:nth-child(3n+3) {
                grid-row: 2 / 3;
                height: 250px;
            }
            .carousel-cell:nth-child(3n+7) {
                grid-row: 4 / 6;
                height: calc(500px + 0.5em) ;
            }
            .carousel-cell:nth-child(3n+8) {
                grid-row: 4 / 5;
                height: 250px;
            }
            .carousel-cell:nth-child(3n+9) {
                grid-row: 5 / 6;
                height: 250px;
            }
        }
    }
    .is-fullscreen {
        margin: 0;
    }
}

.extra {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr;
    @include desktop {
        padding: $desktop-text-padding;
        grid-template-columns: 40% 60%;
        // grid-template-rows: repeat(4, 1fr);
        // justify-items: start;
    }
    .headline-extra {
        position: relative;
        bottom:30px;
        color:grey;
    }
    .extraText {
        @include desktop {
            grid-column: 2 / 3;
            width: 50%;
            justify-self: start;
            align-self:end;
            padding: 0 0 0 5em;
            span {
                font-size: 0.8em;
            }
        }
    }
    h3 {
        font-family: 'Kaufmann Std', 'Yellowtail';
        font-size: 2.5em;
        @include desktop {
            min-width: 300px;
            grid-column: 1 / 2;
            // justify-self: end;
            text-align: start;
            padding: 1em 0 0 0;
        }

    }
    p {
        padding: $mobile-text-padding;
        text-align: center;
        line-height: 1.5em;
        align-self: center;
        @include desktop {
            padding:  0 0 4em 4em;
            text-align:start;
            width: 66%;
            justify-self: start;
        }
    }

    .xtra  {
        @include desktop {
            grid-row: 4 / 6; 
            }
    }

    .break {
        grid-row: 4;
        @include desktop {
            grid-row: 3;
            margin: 4em 0;
        }
    }

    img {
        max-width: 500px;
        height: 200px;
        &:nth-child(2) {
            height: 300px;
            @include desktop {
                grid-row: 1 / 3;
            }
        }
        @include desktop {
            justify-self: center;
            align-self: center;
            grid-row: 1 / 3;
        }
        @include desktop {
            &:nth-of-type(2) {
                grid-row: 4 / 6;
            }
        }
    }
}

.contact {
    margin: 10em 0;
    .tagline {
        margin-bottom: 12em;
        display: grid;
        justify-items: center;
        min-height: 350px;
        padding: $mobile-text-padding;
        text-align: center;
        background: 
            url("../../images/brainstorm.jpg") no-repeat center center,
            linear-gradient(-90deg, $brand-color,  rgb(60, 60, 60)); 
        background-size: 66%, auto;
        .tagText {
            display: flex;
            flex-direction: column;
            justify-content: center;
            grid-column: 3 / 6;
            
        }
        @include desktop {
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            grid-column: 3 / 6;
            padding: $desktop-text-padding;
            min-height: 400px;
            background: 
            url("../../images/brainstorm.jpg") no-repeat left center,
            linear-gradient(-90deg, $brand-color,  rgb(60, 60, 60)); 
            background-size: 33%, auto;
            text-align: start;
        }
        h3 {
            font-family: "Helvetica Neue LT Pro Bold";
            letter-spacing: 0px;
            font-size: 2.5em;
            line-height: 1em;
            color: white;
            @include desktop {
                grid-column: 3 / 6;
                font-size: 4em;
            }
        }
        p {
        line-height: 1.5em;
        margin-top: 1.5em;
        color: rgb(157, 157, 157);
        @include desktop {
            grid-column: 3 / 6;
            }
        }
    }
    aside img {
        width: 100%;
    }
    .form{
        margin: $margin-top;
        h3 {
            margin: $margin-top;
            text-align: center;
            font-size: 1.25em;
        }
        .attach {
            max-width: 150px;
            margin: 1em 3em;
            cursor: pointer;
            font-size:1.2em;
            color: grey;
            text-align: start;
            align-self:start;
            text-align: center;
            align-self:center;
            margin: 1em;
            max-width: 100%;
            &+ p {
            margin-top:0;
            }
            &::before {
                content: url(../../images/paperclip.png);
            }
            @include desktop {
                // max-width: 150px;
                margin: 1em 4em;
                text-align: end;
                align-self:start;
            }
        }
    }
}

div.wpcf7 {
    @include desktop {
        padding: $desktop-text-padding;
    }
}

.wpcf7-form {
    font-family: 'Lato';
    width: 75%;
    margin: 4em auto;
    display: block;
    text-align: center;
    box-shadow: -2px 2px 5px 0px rgba(0,0,0,0.15);
    .form-area {
        color: grey;
        font-family: 'Helvetica Neue LT Pro';
        margin: 1.5em 0;
        @include desktop{
            display: flex;
            margin: 2em 3em;
        }
        .form-text {
            font-size:1em;
            width: 150px;
            text-align: center;
            display: inline-block;
            & + p {
                width:100%;
            }
            @include desktop {
                text-align: start;
            }
        }
    }
    .attach-notice{
        font-size: 0.5em;
        @include desktop {
            font-size: 0.66em;
        }
    }
    .notes {
        background-attachment: local;
        background-image:
            linear-gradient(to right, white 10px, transparent 10px),
            linear-gradient(to left, white 10px, transparent 10px),
            repeating-linear-gradient(white, white 60px, grey 60px, grey 61px, white 61px);
        line-height: 62px;
        padding: 4px 5px;
    }
        padding: 0.5em 1em;

        label, input, span, textarea {
            width:90%;
            border: none;
        }
        input {
            border-bottom: solid 1px grey;
        }
        input,textarea {
            font-size:1.25em;
        }
        .line {
            width: calc(100% - 2em);
            background: black;
            height: 1px;
        }
        input[type="submit"] {
            width: 200px;
            margin: 2em 0;
            background: $brand-color;
            color: white;
            text-transform: uppercase;
            padding: 0.25em;
            cursor: pointer;
        }
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background:  linear-gradient(-90deg, $brand-color, #222222);
    color: white;
    padding: $mobile-text-padding;
    line-height: 1.5em;
    font-size: 0.66em;
    aside {
        text-align: start;
        justify-self:end;
        align-self:end;
    }
    img {
        width: 25%;
        @include desktop {
            width: 15%;
        }
    }

    @include desktop {
        font-size: 0.75em;
        padding: 2em 8em;
    }
    p {
        @include desktop {
            grid-column: 1/2;
        }

    }
    .tagline {
        grid-column: 1/3;
        border: solid 1px white;
        margin: 1.5em 0;
        @include desktop {
            grid-column: 2/2;
            border: none;
        }
    }
    span {
        grid-column: 1/3;
        margin: 1em 0 0 0;
        
    }
}

//Single Portfolio Page

.single-portfolio  {
    position: relative;
    top:112px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    .wp-block-cb-carousel.slick-dotted {
        padding-bottom: 0 !important;
    }
    .slick-next {
        top:100% !important;
        right: 15%;
        @include desktop {
            right:25%;
        }
        &:before {
            // color: white;
            font-size:40px;
            @include desktop {
                color:black;
                font-size:40px;
            }
        }
    }
    .slick-prev {
        left: 10%;
        top:100% !important;

        z-index: 1;
        @include desktop {
            left:25%;
        }
        &:before {
            // color: white;
            font-size:40px;
            @include desktop {
                color:black;
                font-size:40px;
            }
        }
    }
    header {
        background: linear-gradient(-90deg, $brand-color, #222222);
    }
    .active {
        background: transparent;
    }
    .portfolio-img {
        width: 100%;
        @include desktop {
            display: block;
            margin: 0 auto;
        }
    }
    .projects-single {
        flex:1;
        top: 112px;
        justify-items: center;
        img {
            width: 100%;
            margin: 2em auto;
            object-fit: contain;
            @include desktop {
                width: 66%;
                // height:100%;
                display: block;
            }
        }
        p {
            padding: 2em;
            @include desktop {
                width: 66%;
                margin: 0 auto;
            }
        }
        a {
            align-self: center;
            margin: 2em 0 0 0;
            display: block;
            text-align: center;
        }
        button {
            margin: 0 0 4em 0;
        }
    }
    footer {
        max-width: 100%;
    }
}


